<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/references.css' %}">
    <title>ДДС - Управление справочником</title>
</head>
<body>

<div class="back-button">
    <button>Назад</button>
</div>

<div class="container">
    <div class="column">
        <h2>Статусы</h2>
        <div id="status-list">
            {% for status in statuses %}
                <button>{{ status.name }}</button>
            {% endfor %}
        </div>
        <button class="add-button">Добавить</button>
    </div>
    <div class="column">
        <h2>Типы</h2>
        <div id="type-list">
            {% for type in types %}
                <button>{{ type.name }}</button>
            {% endfor %}
        </div>
        <button class="add-button">Добавить</button>
    </div>
    <div class="column">
        <h2>Категории</h2>
        <div id="category-list">
            {% for category in categories %}
                <button>{{ category.name }}</button>
            {% endfor %}
        </div>
        <button class="add-button">Добавить</button>
    </div>

    <div class="column">
        <h2>Подкатегории</h2>
        <div id="subcategory-list">
            {% for subcategory in subcategories %}
                <button>{{ subcategory.name }}</button>
            {% endfor %}
        </div>
        <button class="add-button">Добавить</button>
    </div>
</div>

<div class="modal-overlay" id="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-title">Редактирование</h2>
            <button class="close-button" id="close-modal">&times;</button>
        </div>
        <select id="modal-select">
        </select>
        <input type="text" id="modal-input" placeholder="Введите название">
        <div class="modal-buttons">
            <button id="delete-button">Удалить</button>
            <button id="save-button">Сохранить</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/references.js' %}"></script>
</body>
</html>