* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #1a1a1d;
}

button {
    background: #c3073f;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.back-button {
    margin-bottom: 20px;
}

.back-button button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.container {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    background: #212125;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.column:first-child {
    margin-right: 60px;
}

.column h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.column button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4e4e50;
    border-radius: 4px;
    text-align: left;
}

.add-button {
    background-color: #c3073f !important;
    text-align: center !important;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex;
}

.modal-content {
    background: #1a1a1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    max-width: 90%;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 20px;
}

.modal-header .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: #531a26;

}
.modal-content input::placeholder {
    color: #b3b3b3;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.modal-buttons button#save-button {
    background-color: #c3073f;
}

.modal-buttons button#delete-button {
    background-color: #FF0000;
    color: white;
}